* {
    box-sizing: border-box;
}

/* GLOBAL */
body {
    margin: 0;
    font-family: "Times New Roman", Georgia, serif;
    background-color: #ffffff;
    color: #003366;
}

/* HEADER */
.main-header {
    background-color: #003366;
    color: #ffffff;
    padding: 25px;
    text-align: center;
}

.main-header h1 {
    margin: 0;
}

.tagline {
    margin: 6px 0 18px;
    font-size: 15px;
}

nav a {
    color: #ffffff;
    margin: 0 14px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    width: 90px;
    height: auto;
}

.header-text {
    text-align: left;
}



/* HERO SECTION */
.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #ffffff;
    align-items: center;
}

.hero-text {
    flex: 1;
    padding: 20px;
}

.hero-text h2 {
    margin-top: 0;
}

.hero-img {
    flex: 1;
    text-align: center;
}

.hero-img img {
    width: 90%;
    max-width: 500px;
    border: 2px solid #003366;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 18px;
    padding: 10px 22px;
    background-color: #003366;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    text-decoration: underline;
}

/* HIGHLIGHTS */
.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 35px;
    background-color: #ffffff;
}

.card {
    width: 280px;
    padding: 22px;
    margin: 10px;
    border: 1px solid #003366;
    text-align: center;
}

.card h3 {
    margin-top: 0;
}

/* FOOTER */
footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 14px;
}
